.phone-control-region-code {
  margin-top: 8px !important;
  margin-left: 10px !important;
  list-style-type: none !important;
  font-size: 15px;
  display: block;
  position: absolute;
  padding-left: 0;
  &:hover {
    cursor: pointer;
  }
  li.phone-control-selected {
    input[type="tel"] {
      all: revert !important;
      height: 16px !important;
      width: 30px !important;
      max-width: 30px !important;
      font-size: 12px !important;
      margin-top: 0 !important;
    }
  }
  li {
    padding-left: 4px;
    padding-right: 4px;
    &:first-child {
      z-index: 20;
    }
    &:nth-child(2) {
      border-top: 1px solid lightgrey;
    }
    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-bottom: 1px solid rgba(99,99,99,0.05);
    }
    &:not(:first-child) {
      display: none;
      background-color: white !important;
      border-left: 1px solid rgba(99,99,99,0.05);
      border-right: 1px solid rgba(99,99,99,0.05);
      z-index: 25 !important;
      padding-left: 3px;
      padding-right: 3px;
      img {
        margin-left: 5px;
      }
      &:hover {
        background-color: rgb(184, 233, 134) !important;
        color: white;
      }
    }
  }
  .ai-arrow-down {
    margin-left: 4px;
  }
  li.phone-control-other {
    border-top: 1px solid lightgrey;
    text-align: center;
  }
  &.phone-control-disabled {
    display: none;
  }
  &.phone-control-active {
    li {
      &:not(:first-child) {
        display: block;
      }
    }
  }

}
